@font-face {
    font-family: 'TengXiangBoDangXingShuJianTi-2';
    font-style: normal;
    src: url(/TengXiangBoDangXingShuJianTi-2.ttf);
}

.docs{
    font-family: 'TengXiangBoDangXingShuJianTi-2';
}